﻿@model IEnumerable<FilmsCore.DTOClasses.TableFilm>

<h4>Список фильмов</h4>
<table id="filmsTable" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                id
            </th>

            <th scope="col">
                фильм
            </th>
            <th scope="col">
                Описание
            </th>
            <th scope="col">
                Постер
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
        <tr>
            <td>
                @Html.Raw(User.Identity.Name == film.username?
                "<button type='button' class='btn btn-link' onclick='openDetalies(@film.id)'>Update</button>"
                :
                ""
                )
            </td>
            <td>@film.Name</td>
            <td>@film.Description</td>
            <td>
                @Html.Raw(
                film.guid_poster != null ?
                 string.Format("<img src= '\\Files\\{0}' style='width: 20%;' />", film.guid_poster)
                     :
                     ""
                     )
                
            </td>
        </tr>
        }
    </tbody>
</table>
