﻿@model FilmsCore.Classes.DTOClasses.EditFilm

<form data-ajax='true' id='formFilm' method='post'>

    @Html.Hidden("edit_id", Model.edit_id)
    <div class="form-group">
        <label for="edit_Name">Название</label>
        <input type="text" class="form-control" id="edit_Name" name="edit_Name" placeholder="Название" value="@Model.edit_Name">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Описание фильма</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="edit_Description" rows="3">@Model.edit_Description</textarea>
    </div>
    <div class="form-group">
        <label for="edit_year">Год</label>
        <input type="number" class="form-control" id="edit_year" name="edit_year" placeholder="Год" value="@Model.edit_year">
    </div>
    <div class="form-group">
        <label for="edit_produser">Режиссёр</label>
        <input type="text" class="form-control" id="edit_produser" name="edit_produser" placeholder="Режиссёр" value="@Model.edit_produser">
    </div>
    @*<input type="file" name="uploadedFile" accept="image/png, image/gif, image/jpeg" /><br>*@
</form>
<form id="form" name="form" action="/Films/AddFile" enctype="multipart/form-data" method="post">

    <input type="file" name="uploadedFile" id="uploadedFile" accept="image/png, image/gif, image/jpeg" />
</form>
    <br>

    @*<form asp-action="AddFile" asp-controller="File" method="post" enctype="multipart/form-data">
            <input type="submit" value="Загрузить" />
        </form>*@




    <button class="btn btn-primary" onclick='submitfilm()'>Submit</button>
