﻿
<script src="~/js/Films.js?version=9"></script>

@{ ViewData["Title"] = "List"; }

<script>
    var count_pages = @(ViewBag.CountPages ?? 0)
</script>
<button type="button" class="btn btn-link" onclick="openDetalies(0);">Добавить</button>

<div class="input-group">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="searh_text();" aria-describedby="basic-addon2">Поиск</button>
    </div>
    <input type="text" id="find_txt" class="form-control" placeholder="Search...">

    <button type="button" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;" onclick="ClearSearh()">
        <i class="fa fa-times"></i>
    </button>
</div>

<div id="table_films">
    @await Component.InvokeAsync("FilmList")
</div>

@{
    Html.RenderPartial("~/Views/Films/ModalCreate.cshtml"); 
}

<div id="pagination_div">
@await Component.InvokeAsync("Pagination")
</div>